[Dataset]
dataPath = .
sumBoxPix = 3
polyOrd = 2

[RMsynthesis]
dPhi_radm2 = 10.0
phiMax_radm2 = 1000.0
oversampling = 10.0
weightType = Variance

[RMclean]
cleanAlgorithm = Heald
gain = 0.1
cleanCutoff_sigma = 3.0
maxCleanIter = 1000

[Thresholds]
thresholdPolBias_sigma = 5.0
thresholdSignalPI_sigma = 8.0
thresholdDoClean_sigma = 3.0
phiMom2Thresh_sigma = 1.5


